.todolist{
    background-color: #3498DB;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    float: right;
    margin-right: 20px;
    
}
.to-do-form input{
    background-color: #154360;
    border: 0;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
}
.to-do-form input::placeholder{
    color:black;
}
.to-do-form input:focus{
    outline: none;
}
.to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color:#154360 ;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    
}